{% extends 'CoreTemplateBundle::base.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}
{% block content %}
	<div class="jumbotron jumbotron--profile">
		<div class="container">
			<div class="jumbotron--contents">
				<div class="row">
					<div class="col-md-6 col-md-push-6">
						<div class="jumbotron--profile--image row">
							<img src="http://via.placeholder.com/100x100" alt="" class="img-circle">
						</div>
					</div>
					<div class="col-md-4 col-md-pull-6">
						<div class="row">
							<h1>{{ profile.getFirstName }} {{ profile.getLastName }}</h1>
							<p><small>Hive member since {{ account.getDateCreateFormatted }}</small></p>
							<br>
							<p>Visionary, Dreamer, Future maker, Planner<br/>The quick brown fox jumps over the lazy dog</p>
							<p><span>Editor of</span> <strong>All About Earth</strong></p>
							<div class="row">
								<div class="col-sm-4">
									<p><strong>520</strong> Following</p>
								</div>
								<div class="col-sm-4">
									<p><strong>250</strong> Followers</p>
								</div>
							</div>
							<a href="{{ path('evangeliko_profile_about') }}" class="btn btn-default">Edit</a>
							<a href="#" class="btn btn-default">Follow</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="feed--tabs">
		<div class="container">
			<div class="dropdown feed--tabs--menu--mobile visible-xs">
				<div class="container">
					<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">My article
						<span><i class="small material-icons">keyboard_arrow_down</i></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">You've Read</a></li>
					</ul>
				</div>
			</div>
			<ul class="feed--tabs--menu hidden-xs">
				<li {% if filter_type is defined %}{% if filter_type == 'all' %} class="active" {% endif %}{% endif %}>
					<a href="{{ path('evangeliko_profile_index', {'username': profile.getUsername, 'filterType': 'all'}) }}">All articles</a>
				</li>
                {% if profile.getId == account.getId %}
					<li {% if filter_type is defined %}{% if filter_type == 'paid' %} class="active" {% endif %}{% endif %}>
						<a href="{{ path('evangeliko_profile_index', {'username': profile.getUsername, 'filterType' : 'paid'}) }}">Paid articles</a>
					</li>
					<li {% if filter_type is defined %}{% if filter_type == 'free' %} class="active" {% endif %}{% endif %}>
						<a href="{{ path('evangeliko_profile_index', {'username': profile.getUsername, 'filterType' : 'free'}) }}">Free articles</a>
					</li>
				{% else %}
					<li {% if filter_type is defined %}{% if filter_type == 'sold' %} class="active" {% endif %}{% endif %}>
						<a href="{{ path('evangeliko_profile_index', {'username': profile.getUsername, 'filterType' : 'sold'}) }}">You've Paid</a>
					</li>
					<li {% if filter_type is defined %}{% if filter_type == 'read' %} class="active" {% endif %}{% endif %}>
						<a href="{{ path('evangeliko_profile_index', {'username': profile.getUsername, 'filterType' : 'read'}) }}">You've read</a>
					</li>
				{% endif %}
			</ul>
            {% if profile.getId == account.getId %}
				<a class="btn btn-info" href="{{ path('evangeliko_post_user_article', {'username': profile.getUsername }) }}">Post</a>
            {% endif %}
		</div>
	</div>

	<div class="page--wrap--contents">
		<div class="container">
			<div class="row">
				<div class="grid articles">
                    {#<div class="grid-sizer col-sm-6"></div>#}
					<div class="gutter-sizer"></div>

                    {% if posts is not null %}
                        {% for post in posts %}
							<div class="articles--single grid-item col-sm-6">
								<!-- add inner element for column content -->
								<div class="grid-item-content">
									<input type="hidden" name="post_id" class="post_type" value="{{post.getPostType}}">

                                    {% if post.getPostType == 'Paid' %}
                                        {% if post.getUserCreate.getID == app.getUser.getID %}
                                            {% embed 'CoreTemplateBundle::feed_post.html.twig' %}{% endembed %}
                                        {% else %}
											<div class="grid-item-content--text">
												<h3>{{ post.getTitle }}</h3>
												<a href="" class="btn btn-default">Read this article for {{ post.getAmount }} credits only.</a>
											</div>
                                        {% endif %}
                                    {% else %}
                                        {% embed 'CoreTemplateBundle::feed_post.html.twig' %}{% endembed %}
                                    {% endif %}
								</div>
							</div>
                        {% endfor %}
                    {% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type="text/javascript">
        $(document).ready(function(){
            $('.like-btn').click(function(){
                var post_id = $(this).attr('rel');
                postLike(post_id);
            });

            $('.unlike-btn').click(function(){
                var post_id = $(this).attr('rel');
                postUnlike(post_id);
            });

            $('.comment-txt').keydown(function(event) {
                if (event.keyCode == 13) {
                    var data = {};

                    data['post_id'] = $(this).attr('post_id');
                    data['comment'] = $(this).val();

                    comment(data);

                    return false;
                }
            });

            $('.share-btn').click(function(){
                $("#shareModal #parent").val($(this).attr('post_id'));
            });
        });

        function postLike(id) {
            $.ajax({
                url:'{{ (path('evangeliko_like_post')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": id
                },
                async: true,
                success: function (data)
                {
                    $("#like_btn_"+data.output).hide();
                    $("#unlike_btn_"+data.output).show();
                }
            });
            return false;
        }

        function postUnlike(id) {
            $.ajax({
                url:'{{ (path('evangeliko_unlike_post')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": id
                },
                async: true,
                success: function (data)
                {
                    $("#like_btn_"+data.output).show();
                    $("#unlike_btn_"+data.output).hide();
                }
            });
            return false;
        }

        function comment(data) {

            $.ajax({
                url:'{{ (path('evangeliko_comment_submit')) }}',
                type: "POST",
                dataType: "json",
                data: data,
                async: true,
                success: function (data)
                {
                    $("#comment_text_"+data.post_id).val('');
                    $("#comments_"+data.post_id).append(
                        ' <li>'
                        + '<div class="single-comment">'
                        + '    <div class="author">'
                        + '        <img src="http://via.placeholder.com/40x40" alt="" class="img-circle">'
                        + '        <div class="author--details">'
                        + '            <h6><a href="#">'+data.commenter+'</a></h6>'
                        + '            <small>Just now</small></h6>'
                        + '            <p>'+data.comment+'</p></h6>'
                        + '        </div>'
                        + '    </div>'
                        + '</div>'
                        + '</li>'
                    );
                }
            });
            return false;
        }
	</script>
{% endblock %}