{% extends 'CoreTemplateBundle::base_community.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}

{% block content %}
    {% set src = asset('bundles/coretemplate/assets/img/restaurant.jpg')  %}
    {# <img src="{{ src }}" class="img-rounded" alt="restaurant" width="100%" height="20%"> #}
    <div class="jumbotron" style="background: url('{{ asset("bundles/coretemplate/assets/img/jumbotron-placeholder.jpeg")}}');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron--contents">
                        <h1>{{page.getName}}</h1>
                        <p>{{page.getDescription}}</p>
                        <p><a href="{{ path('evangeliko_community_view', {'slug': page.getSlug, 'filterType' : 'all'}) }}">www.infotrader.dev/community/{{page.getSlug}}</a></p>
                        {% if page.getUserCreate.getID == app.getUser.getID %}
                            <a href="{{ path('evangeliko_community_edit_page', {'slug': page.getSlug }) }}" class="btn btn-default">Edit</a>
                        {% endif %}
                        {#<a href="#" class="btn btn-default btn-md" style="background-color: transparent; color: #337ab7;">UNBLESS</a>#}
                        <form method="post" action="{{ path('evangeliko_community_follow') }}">
                            {#<a href="#" class="btn btn-default">Follow</a>#}
                            {{ form.hidden('community_id', page.getID) }}
                            <button type="submit" class="btn btn-default">Follow</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feed--tabs">
        <div class="container">
            <div class="row">
                <ul class="feed--tabs--menu">
                    <li {% if filter_type is defined %}{% if filter_type == 'all' %} class="active" {% endif %}{% endif %}>
                        <a href="{{ path('evangeliko_community_view', {'slug': page.getSlug, 'filterType': 'all'}) }}">All articles</a>
                    </li>
                    {% if page.getUserCreate.getID == app.getUser.getID %}
                        <li {% if filter_type is defined %}{% if filter_type == 'paid' %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('evangeliko_community_view', {'slug': page.getSlug, 'filterType' : 'paid'}) }}">Paid articles</a>
                        </li>
                        <li {% if filter_type is defined %}{% if filter_type == 'free' %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('evangeliko_community_view', {'slug': page.getSlug, 'filterType' : 'free'}) }}">Free articles</a>
                        </li>
                    {% else %}
                        <li {% if filter_type is defined %}{% if filter_type == 'sold' %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('evangeliko_profile_index', {'username': account.getUsername, 'filterType' : 'sold'}) }}">You've Paid</a>
                        </li>
                        <li {% if filter_type is defined %}{% if filter_type == 'read' %} class="active" {% endif %}{% endif %}>
                            <a href="{{ path('evangeliko_community_view', {'slug': page.getSlug, 'filterType' : 'read'}) }}">You've read</a>
                        </li>
                    {% endif %}
                </ul>
                {% if page.getUserCreate.getID == app.getUser.getID %}
                    <a class="btn btn-info" href="{{ path('evangeliko_post_article', {'slug': page.getSlug }) }}">Post</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="page--wrap--contents">
        <div class="container">
            <div class="row">
                <div class="grid articles">
                    <div class="grid-sizer col-sm-6"></div>
                    <div class="gutter-sizer"></div>

                    {% if posts is not null %}
                        {% for post in posts %}
                            <div class="articles--single grid-item col-sm-6">
                                <!-- add inner element for column content -->
                                <div class="grid-item-content">
                                    <input type="hidden" name="post_id" class="post_type" value="{{post.getPostDetails.getPostType}}">

                                    {% if post.getPostDetails.getPostType == 'Paid' %}
                                        {% if post.getUserCreate.getID == app.getUser.getID %}
                                            {% embed 'CoreTemplateBundle::feed_post.html.twig' %}{% endembed %}
                                        {% else %}
                                            <div class="grid-item-content--text">
                                                <h3>{{ post.getPostDetails.getTitle }}</h3>
                                                <a href="" class="btn btn-default">Read this article for {{ post.getPostDetails.getAmount }} credits only.</a>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% embed 'CoreTemplateBundle::feed_post.html.twig' %}{% endembed %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{# 
    {% embed 'EvangelikoCommunityBundle:Community:modal/post.type.modal.html.twig' %}{% endembed %}
    {% embed 'EvangelikoCommunityBundle:Community:modal/insufficient.modal.html.twig' %}{% endembed %} #}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(e){
            $('#cform-post_type').change(function(){
                var post_type = $(this).val();

                if(post_type == 'Paid'){
                    $("#paid_post").show();
                }else{
                    $('#cform-amount').val(0);
                    $("#paid_post").hide();
                }
            });

            $('.like-btn').click(function(){
                var post_id = $(this).attr('rel');
                postLike(post_id);
            });

            $('.unlike-btn').click(function(){
                var post_id = $(this).attr('rel');
                postUnlike(post_id);
            });

            $('.comment-txt').keydown(function(event) {
                if (event.keyCode == 13) {
                    var data = {};

                    data['post_id'] = $(this).attr('post_id');
                    data['comment'] = $(this).val();

                    comment(data);

                    return false;
                }
            });

            $('.share-btn').click(function(){
                $("#shareModal #parent").val($(this).attr('post_id'));
            });

            $('#posts').on('click', '.read-more-a', function() {
                var id = $(this).data('id');
                var amount = $(this).data('amount');
                var credits = $('#cform-credits').val();

                if (credits >= amount) {
                    $('#cform-post_id').val(id);
                    $('#cform-amount_modal').val(amount);
                }else{
                    $('#cform-redirect_id').val(id);
                    $('#cform-amt_deduct').val(amount);
                }
            });

            $('#posts').on('click', '.reply-form', function() {
                var read_more_div = $(this).parent("div");
                var full_msg_div = read_more_div.parent("div");
                var parent_div = full_msg_div.parent("div");
                var short_msg_div = parent_div.find(".replay-text")
                short_msg_div.show();
                // full_msg_div.hide();
            });
        });

        function postLike(id) {
            $.ajax({
                url:'{{ (path('evangeliko_like_post')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": id
                },
                async: true,
                success: function (data)
                {
                    $("#like_btn_"+data.output).hide();
                    $("#unlike_btn_"+data.output).show();
                }
            });
            return false;
        }

        function postUnlike(id) {
            $.ajax({
                url:'{{ (path('evangeliko_unlike_post')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": id
                },
                async: true,
                success: function (data)
                {
                    $("#like_btn_"+data.output).show();
                    $("#unlike_btn_"+data.output).hide();
                }
            });
            return false;
        }

        function comment(data) {

            $.ajax({
                url:'{{ (path('evangeliko_comment_submit')) }}',
                type: "POST",
                dataType: "json",
                data: data,
                async: true,
                success: function (data)
                {
                    $("#comment_text_"+data.post_id).val('');
                    $("#comments_"+data.post_id).append(
                        ' <li>'
                        + '<div class="single-comment">'
                        + '    <div class="author">'
                        + '        <img src="http://via.placeholder.com/40x40" alt="" class="img-circle">'
                        + '        <div class="author--details">'
                        + '            <h6><a href="#">'+data.commenter+'</a></h6>'
                        + '            <small>Just now</small></h6>'
                        + '            <p>'+data.comment+'</p></h6>'
                        + '        </div>'
                        + '    </div>'
                        + '</div>'
                        + '</li>'
                    );
                }
            });
            return false;
        }
    </script>
{% endblock %}