{% extends 'CoreTemplateBundle::base_community.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}

{% block content %}
	<div class="page--wrap--contents">
		<div class="container">
			<div class="notifications-list">
				<div class="notifications-list--text-wrap">
					<a class="btn btn-info" href="{{ path('evangeliko_community_add_page') }}">Create Page</a>
				</div>

				<div class="notifications-list--text-wrap">
					<h4>Your Pages</h4>
				</div>
				{#<div class="notifications-list--text-wrap">#}
				<ul class="notifications">
                    {% if account.getCreatedCommunity is not null %}
                        {% for page in account.getCreatedCommunity %}
							<li>
								<a href="{{ path('evangeliko_community_view', {'slug': page.getSlug, 'filterType' : 'all' }) }}">
									<div class="notifications--single">
										<img src="http://via.placeholder.com/31x30" alt="">
										<p><strong>{{page.getName}}</strong></p>
									</div>
								</a>
							</li>
                        {% endfor %}
                    {% endif %}
				</ul>
				{#</div>#}

				<div class="notifications-list--text-wrap">
					<h4>Followed Pages</h4>
				</div>
				{#<div class="notifications-list--text-wrap">#}
				<ul class="notifications">
					{% if account.getFollowedCommunity is not null %}
						{% for cmty,community in account.getFollowedCommunity %}
							{% if community.getStatus == 'Followed' and community.getCommunity.getUserCreate.getID != app.getUser.getID %}
								<li>
									<a href="{{ path('evangeliko_community_view', {'slug': community.getCommunity.getSlug, 'filterType' : 'all' }) }}">
										<div class="notifications--single">
											<img src="http://via.placeholder.com/31x30" alt="">
											<p><strong>{{community.getCommunity.getName}}</strong></p>
										</div>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
				{#</div>#}
			</div>
		</div>
	</div>
{% endblock %}