{% extends 'CoreTemplateBundle::base.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}

{% block content %}
    <div class="article-page--header">
        <div class="container">
            <div class="author">
                <img src="http://via.placeholder.com/60x60" alt="" class="img-circle">
                <div class="author--details">
                    {% if post.getCommunity is not null %}
                        <a href="{{ path('evangeliko_community_view', {'slug': post.getCommunity.getSlug, 'filterType' : 'all' }) }}"><h5>{{ post.getCommunity.getName }}</h5></a>
                    {% else %}
                        <a href="{{ path('evangeliko_profile_index', {'username': post.getUserCreate.getAccount.getUsername|default('null'), 'filterType': 'all'}) }}"><h5>{{ post.getUserCreate.getAccount.getFullName }}</h5></a>
                    {% endif %}
                    {#<h5><a href="#">{{ post.getUserCreate.getAccount.getFullName }}</a></h5>#}
                    <p>Visionary, Dreamer, Future maker, Planner. The quick brown fox jumps oer the lazy dog.</p>
                    <small>{{ post.getPostDetails.getTimePassed }}</small>
                </div>
            </div>
        </div>
    </div>

    <div class="page--wrap--contents">

        <div class="container">
            <div class="article-page--title mb10">
                <h1>{{ post.getPostDetails.getTitle }}</h1>
                <div class="article-page--status paid">
                    <small>This post is</small>
                    {% if post.getPostDetails.getPostType == 'Paid' %}
                        <large>Paid</large>
                    {% else %}
                        <large>Free</large>
                    {% endif %}
                    <br>
                </div>
            </div>

            <div class="article-page--content--wrap">
                <div class="article-page--content--wrap--inner">
                    <div class="article-page--content">
                        {% if post.getFile %}
                            <div class="featured-image mb30">
                                <img src="{{ vich_uploader_asset(post.getFile, 'imageFile') }}" alt="{{ post.getFile.getImageName }}" class="img-responsive">
                            </div>
                        {% endif %}
                        <p>{{ post.getPostDetails.getMessage}}</p>
                    </div>

                    <div class="page-section grid-item-content--share">
                        {% set like_count = null %}
                        {% if post.getPostLikes|length > 0 %}
                            <ul>
                                <li>
                                    <a class="like-count grid-item-content--share--button" post_id="{{ post.getID }}" data-toggle="modal" data-target="#likesModal"> {#data-toggle="modal" data-target="#likesModal"#}

                                        {% for post_likes in post.getPostLikes %}
                                            {% if post_likes.isEnabled %}
                                                {% set like_count = like_count + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ like_count }} like/likes
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                        <ul>
                            <li>
                                {% if post.getPostLikes|length > 0 %}
                                    {% set break = false %}
                                    {% set liked = false %}

                                    {% for post_likes in post.getPostLikes if not break %}
                                        {% if post_likes.getLiker.getID == account.getID and post_likes.isEnabled %}
                                            {% set liked = true %}
                                            {% set break = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if liked == true %}
                                        {#liked#}
                                        <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                            <i class="small material-icons">menu</i> like
                                        </a>
                                        <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                            <i class="small material-icons">menu</i> unlike
                                        </a>
                                    {% else %}
                                        {#not liked#}
                                        <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                            <i class="small material-icons">menu</i> like
                                        </a>
                                        <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                            <i class="small material-icons">menu</i> unlike
                                        </a>
                                    {% endif %}

                                {% else %}
                                    {#No Like#}
                                    <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                        <i class="small material-icons">menu</i> like
                                    </a>
                                    <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                        <i class="small material-icons">menu</i> unlike
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                <a href="#" class="grid-item-content--share--button comments">
                                    <i class="small material-icons">chat_bubble_outline</i>
                                    {% if not post.getPostComment.isEmpty %}
                                        {{ post.getPostComment|length }} comments
                                    {% else %}
                                        comment
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="#" class="share-btn grid-item-content--share--button shares" post_id="{{ post.getID }}" data-toggle="modal" data-target="#shareModal">
                                    <i class="small material-icons">share</i> shares
                                </a>
                            </li>
                            <li>
                                <a href="#" class="grid-item-content--share--button more">
                                    <i class="small material-icons">more_horiz</i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="page-section space respond">
                        <div class="row">
                            <form method="post" action="{{ path('evangeliko_comment_submit') }}">
                                {#{{ form.hidden('account_type', 'community') }}#}
                                {#{{ form.hidden('community_id', account.getID ) }}#}
                                {{ form.hidden('post_id', post.getID) }}
                                <textarea id="comment_text_{{ post.getID }}" name="comment" post_id="{{ post.getID }}" class="comment-txt" cols="30" rows="1" placeholder="Write a response"></textarea>
                                {#<textarea id="cform-reply" name="reply" class="form-control" rows="3" placeholder="What's on your mind?"></textarea>#}
                                <button id="post-btn" type="submit" class="btn btn-primary pull-right" style="display: none;">Post</button>
                            </form>
                        </div>
                    </div>
                    {% if not post.getPostComment.isEmpty %}
                        <div class="page-section comments">
                            <ul id="comments_{{ post.getID }}">
                                {% for comment in post.getPostComment %}
                                    <li>
                                        <div class="single-comment">
                                            <div class="author">
                                                <img src="http://via.placeholder.com/40x40" alt="" class="img-circle">
                                                <div class="author--details">
                                                    <h6><a href="#">{{ comment.getComment.getCommenter.getFullName }}</a></h6>
                                                    <small>{{ comment.getComment.getTimePassed }}</small>
                                                    <p>{{ comment.getComment.getMessage }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(e){

            $('#comment-txt').keydown(function(event) {
                // enter has keyCode = 13, change it if you want to use another button
                if (event.keyCode == 13) {
                    this.form.submit();
                    return false;
                }
            });

            $('.like-btn').click(function(){
                var post_id = $(this).attr('rel');
                postLike(post_id);
            });

            $('.unlike-btn').click(function(){
                var post_id = $(this).attr('rel');
                postUnlike(post_id);
            });

            $('.share-btn').click(function(){
                $("#shareModal #parent").val($(this).attr('post_id'));
            });
        });

        function postLike(id) {
            $.ajax({
                url:'{{ (path('evangeliko_like_post')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": id
                },
                async: true,
                success: function (data)
                {
                    $("#like_btn_"+data.output).hide();
                    $("#unlike_btn_"+data.output).show();
                }
            });
            return false;
        }

        function postUnlike(id) {
            $.ajax({
                url:'{{ (path('evangeliko_unlike_post')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id": id
                },
                async: true,
                success: function (data)
                {
                    $("#like_btn_"+data.output).show();
                    $("#unlike_btn_"+data.output).hide();
                }
            });
            return false;
        }
    </script>
{% endblock %}