{% extends 'CoreTemplateBundle::base_community.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}

{% block content %}
<div class="article-page--header">
	<div class="container">
		<div class="row">
			<div class="account">
				<div class="col-xs-8">
					<h2>Purchase credits</h2>
					<p>When topping up your balance, please note: per our fraud control guidelines, some transactions (especially those third-party payments) may require additional verification. In some cases, we’ll need phone verification for the card holder.</p>
				</div>
				<div class="col-xs-4 account--balance">
					<small>Current balance</small>
					<large>{{ account.getCredit.getAmount }}</large>
					<a href="">Top-up now!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
{# 		<div class="container-fluid">
			<form class="form-horizontal" method="post">
				<div class="jumbotron">
					<div class="container">
						<div class="col-md-12" style="background-color: white !important;">
							<div class="form-body">
								<h4 class="form-section">Credits</h4>
								{{ form.hidden('redirect', redirect_id) }}
								{{ form.hidden('amt_deduct', deduct) }}
								{{ form.hidden('account_credit_id', account.getCredit.getID) }}
								{{ form.group_textnew('Current Balance', 'current_balance', account.getCredit.getAmount, 3, 4, {readonly: true}) }}
								
								<div class="col-md-7">
									<div class="form-actions fluid pull-right">
									</div>
								</div>
								<br><br>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div> #}
		<div class="page--wrap--contents">
			<div class="container">
				<div class="page-section">
					<div class="row">
						<div class="col-md-4 hidden-xs">
							<div class="banner-bg banner-bg--color">
								<h2 class="mb30">Purchase credits to enjoy more of the Hive.</h2>
								<p>Join us for our next chapter as Hive becomes the most rewarding platform for the world’s writers, thinkers, and storytellers.</p>
							</div>
						</div>
							<div class="col-md-8">
								<form method="post">
									<div class="purchase-details">
										<div class="purchase-details--amount">
											{{ form.hidden('redirect', redirect_id) }}
											{{ form.hidden('amt_deduct', deduct) }}
											{{ form.hidden('account_credit_id', account.getCredit.getID) }}
											<small>Amount to add</small>
											{{ form.group_selectnew('Reload Amount', 'reload_amount', amt_opts, '', 0, 12) }}
										</div>
										<div class="clearfix"></div>
										<br>
										<div class="pay-with-paypal"/>
											<div class="pull-right">
												<button type="submit" class="btn btn-primary">Pay with Paypal</button>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}