{% extends 'CoreTemplateBundle::base_community.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}

{% block content %}
    <div class="feed--tabs">
        <div class="container">
            <div class="row">
                <div class="dropdown feed--tabs--menu--mobile visible-xs">
                    <div class="container">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Featured
                            <span><i class="small material-icons">keyboard_arrow_down</i></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">What's new</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="feed--tabs--menu hidden-xs">
                    <li class="active">
                        <a href="#">Featured</a>
                    </li>
                    <li>
                        <a href="#">Trending</a>
                    </li>
                    <li>
                        <a href="#">What's new</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page--wrap--contents">
        <div class="container">
            <div class="row">
                <div class="grid articles">
                    <div class="grid-sizer col-sm-6"></div>
                    <div class="gutter-sizer"></div>

                    {% if posts is not null %}
                        {% for post in posts %}
                            <div class="articles--single grid-item col-sm-6">
                                <!-- add inner element for column content -->
                                <div class="grid-item-content">
                                    <div class="grid-item-content--text author">

                                        <img src="http://via.placeholder.com/30x30" alt="" class="img-circle">
                                        <div class="author--details">
                                            {% if post.getCommunity is not null %}
                                                <h5>{{ post.getCommunity.getName }}</h5>
                                            {% else %}
                                                <h5>{{ post.getUserCreate.getAccount.getFullName }}</h5>
                                            {% endif %}
                                            <small>{{ post.getTimePassed }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                        <input type="hidden" name="post_id" class="post_type" value="{{post.getPostType}}">
                                    </div>

                                    {% if post.getPostType == 'Paid' %}
                                        {% if post.getUserCreate.getID == app.getUser.getID %}
                                            {% embed 'CoreTemplateBundle::feed_post.html.twig' %}{% endembed %}
                                        {% else %}
                                            <div class="grid-item-content--text">
                                                <h3>{{ post.getTitle }}</h3>
                                                {% if account.getCredit.getAmount >= post.getAmount %}
                                                    <form action="{{ path('evangeliko_view_post')}}">
                                                        {{ form.hidden('id', post.getID) }}
                                                        {{ form.hidden('amount_modal', post.getAmount) }}
                                                        <button name="view_post" type="submit" class="btn btn-default">Read this article for {{ post.getAmount }} credits only.</button>
                                                    </form>
                                                {% else %}
                                                    {# <a href="#add_entry_modal" data-toggle="modal" class="btn btn-default"></a> #}
                                                    <a id="show_modal" data-redirect="{{post.getID}}" class="btn btn-default">Read this article for {{ post.getAmount }} credits only.</a>
                                                    {# <a href="{{ path('evangeliko_view_paid_post', {'id': post.getID}) }}" class="btn btn-default"></a>    #}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% embed 'CoreTemplateBundle::feed_post.html.twig' %}{% endembed %}
                                        {#<div class="page-section space respond">#}
                                            {#<div class="row">#}
                                                {#<form method="post" action="{{ path('evangeliko_post_submit') }}">#}
                                                    {#SHARE#}
                                                    {#{{ form.hidden('account_type', 'user') }}#}
                                                    {#{{ form.hidden('community_id', account.getID ) }}#}
                                                    {#add community selection and timeline = default null#}
                                                    {#{{ form.hidden('parent', post.getID) }}#}
                                                    {#<textarea name="reply" id="" cols="30" rows="1" placeholder="Write a caption"></textarea>#}
                                                    {#<button id="post-btn" type="submit" class="btn btn-primary pull-right">SHARE</button>#}
                                                {#</form>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.comment-txt').keydown(function(event) {
            // enter has keyCode = 13, change it if you want to use another button
            if (event.keyCode == 13) {
//                this.form.submit();

                var data = {};

                data['post_id'] = $(this).attr('post_id');
                data['comment'] = $(this).val();

                comment(data);

                return false;
            }
        });

        $("#show_modal").click(function(){
            var redirect_id = $(this).data('redirect');
            $("#cform-redirect").val(redirect_id);
            $("#add_entry_modal").modal('show');
        });

        $('.like-btn').click(function(){
            var post_id = $(this).attr('rel');
            postLike(post_id);
        });

        $('.unlike-btn').click(function(){
            var post_id = $(this).attr('rel');
            postUnlike(post_id);
        });

        $('.share-btn').click(function(){
//            $("#shareModal").modal();
            $("#shareModal #parent").val($(this).attr('post_id'));
        })
    });

    function postLike(id) {
        $.ajax({
            url:'{{ (path('evangeliko_like_post')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": id
            },
            async: true,
            success: function (data)
            {
                $("#like_btn_"+data.output).hide();
                $("#unlike_btn_"+data.output).show();
            }
        });
        return false;
    }

    function postUnlike(id) {
        $.ajax({
            url:'{{ (path('evangeliko_unlike_post')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": id
            },
            async: true,
            success: function (data)
            {
                $("#like_btn_"+data.output).show();
                $("#unlike_btn_"+data.output).hide();

            }
        });
        return false;
    }

    function comment(data) {

        $.ajax({
            url:'{{ (path('evangeliko_comment_submit')) }}',
            type: "POST",
            dataType: "json",
            data: data,
            async: true,
            success: function (data)
            {
                $("#comment_text_"+data.post_id).val('');
                $("#comments_"+data.post_id).append(
                    ' <li>'
                    + '<div class="single-comment">'
                    + '    <div class="author">'
                    + '        <img src="http://via.placeholder.com/40x40" alt="" class="img-circle">'
                    + '        <div class="author--details">'
                    + '            <h6><a href="#">'+data.commenter+'</a></h6>'
                    + '            <small>Just now</small></h6>'
                    + '            <p>'+data.comment+'</p></h6>'
                    + '        </div>'
                    + '    </div>'
                    + '</div>'
                    + '</li>'
                );
            }
        });
        return false;
    }

    </script>
{% endblock %}