{% extends 'CoreTemplateBundle::base_community.html.twig' %}
{% import 'CoreTemplateBundle::macro.html.twig' as form %}

{% block content %}
    <div class="feed--tabs">
        <div class="container">
            <div class="row">
                <div class="dropdown feed--tabs--menu--mobile visible-xs">
                    <div class="container">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Featured
                            <span><i class="small material-icons">keyboard_arrow_down</i></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">What's new</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="feed--tabs--menu hidden-xs">
                    <li class="active">
                        <a href="#">Featured</a>
                    </li>
                    <li>
                        <a href="#">Trending</a>
                    </li>
                    <li>
                        <a href="#">What's new</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page--wrap--contents">

        <div class="container">

            <div class="row">

                <div class="grid articles">
                    <div class="grid-sizer col-sm-6"></div>
                    <div class="gutter-sizer"></div>
                    {% if posts is not null %}
                        {% for post in posts %}

                            <div class="articles--single grid-item col-sm-6">
                                <!-- add inner element for column content -->
                                <div class="grid-item-content">
                                    <div class="grid-item-content--text author">

                                        <img src="http://via.placeholder.com/30x30" alt="" class="img-circle">
                                        <div class="author--details">
                                            {% if post.getCommunity is not null %}
                                                <h5>{{ post.getCommunity.getName }}</h5>
                                            {% else %}
                                                <h5>{{ post.getUserCreate.getAccount.getFullName }}</h5>
                                            {% endif %}
                                            <small>{{ post.getTimePassed }}</small>
                                        </div>
                                        <div class="clearfix"></div>
                                        <input type="hidden" name="post_id" class="post_type" value="{{post.getPostType}}">
                                    </div>

                                    {% if post.getPostType == 'Paid' %}
                                        {% if post.getUserCreate.getID == app.getUser.getID %}
                                            <div class="grid-item-content--text">
                                                <h3>{{ post.getTitle }}</h3>
                                                <p>{{ post.getMessage }}</p>
                                            </div>
                                            {% if post.getFile %}
                                                <img src="{{ vich_uploader_asset(post.getFile, 'imageFile') }}" alt="{{ post.getFile.getImageName }}" class="img-responsive">
                                            {% endif %}
                                            <div class="grid-item-content--share">
                                                <ul>
                                                    <li>
                                                        {% if post.getPostLikes|length > 0 %}
                                                            {% set break = false %}
                                                            {% set liked = false %}
                                                            {% set like_count = null %}

                                                            {% for post_likes in post.getPostLikes if not break %}
                                                                {% if post_likes.getLiker.getID == account.getID and post_likes.isEnabled %}
                                                                    {% set liked = true %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% for post_likes in post.getPostLikes %}
                                                                {% if post_likes.isEnabled %}
                                                                    {% set like_count = like_count + 1 %}
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% if liked == true %}
                                                                {#liked#}
                                                                <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                                                    <i class="small material-icons">menu</i>{{ like_count }} like
                                                                </a>
                                                                <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                                                    <i class="small material-icons">menu</i>{{ like_count }} unlike
                                                                </a>
                                                            {% else %}
                                                                {#not liked#}
                                                                <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                                                    <i class="small material-icons">menu</i>{{ like_count }} like
                                                                </a>
                                                                <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                                                    <i class="small material-icons">menu</i>{{ like_count }} unlike
                                                                </a>
                                                            {% endif %}

                                                        {% else %}
                                                            {#No Like#}
                                                            <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                                                <i class="small material-icons">menu</i> like
                                                            </a>
                                                            <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                                                <i class="small material-icons">menu</i> unlike
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                    <li>
                                                        <a href="#" class="grid-item-content--share--button comments">
                                                            <i class="small material-icons">chat_bubble_outline</i>
                                                            {% if not post.getReply.isEmpty %}
                                                                {{ post.getReply|length }} comments
                                                            {% else %}
                                                                comment
                                                            {% endif %}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="grid-item-content--share--button shares">
                                                            <i class="small material-icons">share</i> shares
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="grid-item-content--share--button more">
                                                            <a href="{{ path('evangeliko_view_free_post', {'id':post.getID}) }}"><i class="small material-icons">more_horiz</i></a>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                                        {% else %}
                                            <div class="grid-item-content--text">
                                                <h3>{{ post.getTitle }}</h3>
                                                {% if account.getCredit.getAmount >= post.getAmount %}
                                                    <form action="{{ path('evangeliko_view_post')}}">
                                                        {{ form.hidden('id', post.getID) }}
                                                        {{ form.hidden('amount_modal', post.getAmount) }}
                                                        <button name="view_post" type="submit" class="btn btn-default">Read this article for {{ post.getAmount }} credits only.</button>
                                                    </form>
                                                {% else %}
                                                    {# <a href="#add_entry_modal" data-toggle="modal" class="btn btn-default"></a> #}
                                                    <a id="show_modal" data-redirect="{{post.getID}}" class="btn btn-default">Read this article for {{ post.getAmount }} credits only.</a>
                                                    {# <a href="{{ path('evangeliko_view_paid_post', {'id': post.getID}) }}" class="btn btn-default"></a>    #}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="grid-item-content--text">
                                            <h3>{{ post.getTitle }}</h3>
                                            <p>{{ post.getMessage }}</p>
                                        </div>
                                        {% if post.getFile %}
                                            <img src="{{ vich_uploader_asset(post.getFile, 'imageFile') }}" alt="{{ post.getFile.getImageName }}" class="img-responsive">
                                        {% endif %}
                                        <div class="grid-item-content--share">
                                            <ul>
                                                <li>
                                                    {% if post.getPostLikes|length > 0 %}
                                                        {% set break = false %}
                                                        {% set liked = false %}
                                                        {% set like_count = null %}

                                                        {% for post_likes in post.getPostLikes if not break %}
                                                            {% if post_likes.getLiker.getID == account.getID and post_likes.isEnabled %}
                                                                {% set liked = true %}
                                                                {% set break = true %}
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% for post_likes in post.getPostLikes %}
                                                            {% if post_likes.isEnabled %}
                                                                {% set like_count = like_count + 1 %}
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% if liked == true %}
                                                            {#liked#}
                                                            <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                                                <i class="small material-icons">menu</i>{{ like_count }} like
                                                            </a>
                                                            <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                                                <i class="small material-icons">menu</i>{{ like_count }} unlike
                                                            </a>
                                                        {% else %}
                                                            {#not liked#}
                                                            <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                                                <i class="small material-icons">menu</i>{{ like_count }} like
                                                            </a>
                                                            <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                                                <i class="small material-icons">menu</i>{{ like_count }} unlike
                                                            </a>
                                                        {% endif %}

                                                    {% else %}
                                                        {#No Like#}
                                                        <a class="like-btn grid-item-content--share--button honeys" id="like_btn_{{ post.getID }}" rel="{{ post.getID }}">
                                                            <i class="small material-icons">menu</i> like
                                                        </a>
                                                        <a class="unlike-btn grid-item-content--share--button honeys" id="unlike_btn_{{ post.getID }}" style="display: none;" rel="{{ post.getID }}">
                                                            <i class="small material-icons">menu</i> unlike
                                                        </a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <a href="#" class="grid-item-content--share--button comments">
                                                        <i class="small material-icons">chat_bubble_outline</i>
                                                        {% if not post.getReply.isEmpty %}
                                                            {{ post.getReply|length }} comments
                                                        {% else %}
                                                            comment
                                                        {% endif %}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="grid-item-content--share--button shares">
                                                        <i class="small material-icons">share</i> shares
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="grid-item-content--share--button more">
                                                        <a href="{{ path('evangeliko_view_free_post', {'id':post.getID}) }}"><i class="small material-icons">more_horiz</i></a>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        {% if not post.getReply.isEmpty %}
                                            <div class="page-section comments">
                                                <ul>
                                                    {% for reply in post.getReply %}
                                                        <li>
                                                            <div class="single-comment">
                                                                <div class="author">
                                                                    <img src="http://via.placeholder.com/40x40" alt="" class="img-circle">
                                                                    <div class="author--details">
                                                                        <h6><a href="#">{{ reply.getUserCreate.getAccount.getFullName }}</a></h6>
                                                                        <small>{{ reply.getTimePassed }}</small>
                                                                        <p>{{ reply.getMessage }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <div class="page-section space respond">
                                            <div class="row">
                                                <form method="post" action="{{ path('evangeliko_post_submit') }}">
                                                    {{ form.hidden('account_type', 'community') }}
                                                    {{ form.hidden('community_id', account.getID ) }}
                                                    {{ form.hidden('parent', post.getID) }}
                                                    <textarea name="reply" class="comment-txt" cols="30" rows="1" placeholder="Write a response"></textarea>
                                                    {#<textarea id="cform-reply" name="reply" class="form-control" rows="3" placeholder="What's on your mind?"></textarea>#}
                                                    <button id="post-btn" type="submit" class="btn btn-primary pull-right" style="display: none;">Post</button>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.comment-txt').keydown(function(event) {
            // enter has keyCode = 13, change it if you want to use another button
            if (event.keyCode == 13) {
                this.form.submit();
                return false;
            }
        });

        $("#show_modal").click(function(){
            var redirect_id = $(this).data('redirect');
            $("#cform-redirect").val(redirect_id);
            $("#add_entry_modal").modal('show');
        });

        $('.like-btn').click(function(){
            var post_id = $(this).attr('rel');
            postLike(post_id);
        });

        $('.unlike-btn').click(function(){
            var post_id = $(this).attr('rel');
            postUnlike(post_id);
        });
    });

    function postLike(id) {
        $.ajax({
            url:'{{ (path('evangeliko_like_post')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": id
            },
            async: true,
            success: function (data)
            {
                $("#like_btn_"+data.output).hide();
                $("#unlike_btn_"+data.output).show();
            }
        });
        return false;
    }

    function postUnlike(id) {
        $.ajax({
            url:'{{ (path('evangeliko_unlike_post')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "id": id
            },
            async: true,
            success: function (data)
            {
                $("#like_btn_"+data.output).show();
                $("#unlike_btn_"+data.output).hide();
            }
        });
        return false;
    }

    </script>
{% endblock %}