<!DOCTYPE html>
<html lang="en">

<head>
    <title>Infotrade</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/coretemplate/assets/bootstrap/css/bootstrap.min.css') }}"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('bundles/coretemplate/assets/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/coretemplate/assets/jquery-ui/css/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/coretemplate/assets/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/coretemplate/assets/css/custom.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/coretemplate/assets/css/reject.css') }}"/>
    {% block css %}{% endblock %}
</head>

<body class="page">
    <div id="site-canvas">
        <div class="page--wrap">
            {% embed 'CoreTemplateBundle::side_menu.html.twig' %}{% endembed %}
            {% embed 'CoreTemplateBundle::top_menu.html.twig' %}{% endembed %}
            {% for flash_msg in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" 
                    class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Error: </strong>
                    {{ flash_msg }}
                </div>
                {% endfor %}

                {% for flash_msg in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <strong>Success: </strong>
                    {{ flash_msg }}
                </div>
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
        <footer class="site-footer">
            <div class="container">
                <a href="#">Hive <span>/ Copyright 2017</span></a>

                <ul class="site-footer--menu">
                    <li>
                        <a href="#">Getting started</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Careers</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    <div id="shareModal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Share</h3>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <div class="page-section space respond">
                        <div class="row">
                            <form method="post" action="{{ path('evangeliko_post_submit') }}">
                                {#{{ form.hidden('account_type', 'user') }}#}
                                {#{{ form.hidden('community_id', account.getID ) }}#}
                                {#add community selection and timeline = default null#}
                                {#{{ form.hidden('parent', post.getID) }}#}
                                {#<select>#}
                                {#<option value="">Timeline</option>#}
                                {#{% if post.getCommunity is not null %}#}
                                {#{% for post in post.getCommunity %}#}
                                {#</select>#}
                                <input type="hidden" id="parent" name="parent" />
                                Share to:
                                <select name="community_id">
                                    <option value="">Timeline</option>
                                    {% if account.getFollowedCommunity is not null %}
                                        {% for cmty,community in account.getFollowedCommunity %}
                                            {% if community.getStatus == 'Followed' and community.getCommunity.getUserCreate.getID == app.getUser.getID %}
                                                <option value="{{ community.getCommunity.getID }}">{{community.getCommunity.getName}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <textarea name="reply" id="" cols="30" rows="2" placeholder="Write a caption"></textarea>
                                <button id="post-btn" type="submit" class="btn btn-primary pull-right">SHARE</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                {#<div class="modal-footer">#}
                {#<button class="btn btn-warning pull-right">Share</button>#}
                {#</div>#}
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/coretemplate/assets/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/coretemplate/assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/coretemplate/assets/jquery-ui/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/coretemplate/assets/js/jquery.placeholder.min.js') }}"></script>
    <script src="https://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="{{ asset('bundles/coretemplate/assets/js/jquery.reject.min.js') }}"></script>
    <script src="{{ asset('bundles/coretemplate/assets/js/main.js') }}"></script>
    <script src="{{ asset('bundles/coretemplate/assets/bootstrap-typeahead/bootstrap-typeahead.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/coretemplate/assets/select2-4.0.3/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/coretemplate/assets/js/template.js') }}" type="text/javascript"></script>
    <script>
        /*
         * Uses jQuery!!!!111one
         */

        /*====================================
         =            ON DOM READY            =
         ====================================*/
        jQuery(function() {
            Template.init();
            $("#csearch_typeahead").change(function(){
                var search_id = $("#csearch_id").val();
                var path = "{{ path('evangeliko_profile_index', {'username': 'ID', 'filterType': 'all'}) }}";

                if(search_id != "") {
                    var name = $(this).val();
                    var path = "{{ path('evangeliko_redirect_account', {'id':'ID', 'name':'NAME'}) }}";
                        path = path.replace("ID", search_id);
                        path = path.replace("NAME",name);
                    $.ajax({
                        url: path,
                        type: "GET",
                        success: function(data){
                            $(location).attr('href',data);
                        }
                    });
                }
            });
            // Toggle Nav on Click
            jQuery('.toggle-nav').click(function() {
                // Calling a function in case you want to expand upon this.
                toggleNav();
            });

        });

        /*========================================
         =            CUSTOM FUNCTIONS            =
         ========================================*/
        function toggleNav() {
            if (jQuery('body').hasClass('show-nav')) {
                // Do things on Nav Close
                jQuery('body').removeClass('show-nav');
            } else {
                // Do things on Nav Open
                jQuery('body').addClass('show-nav');
            }

            //jQuery('body').toggleClass('show-nav');


        }

        jQuery('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer'
        });
    </script>
    {% embed 'CoreTemplateBundle::credit_modal.html.twig' %}{% endembed %}
    {% block js %}{% endblock %}
</body>
</html>
