{% import 'CoreTemplateBundle::macro.html.twig' as form %}

<div id="add_entry_modal" class="modal fade" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="entry_title">Reload Amount</h4>				
			</div>
			<form method="post" id="form-container" class="form-horizontal" action="{{ path('evangeliko_credit_submit') }}">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						Click on the image for the desired reload amount:
						<br><br>
						{{ form.hidden('reload_amount',"") }}
						{{ form.hidden('redirect', redirect_id|default(0)) }}
						{{ form.hidden('account_credit_id',app.getUser.getAccount.getID)}}
						<div class="row">
							<div class="col-md-4" style="text-align: center">
								<a id="set-100" href="#" ><img src="{{ asset("bundles/coretemplate/assets/img/750px-wv-100-svg.png")}}" style="width: 100px; height: 100px;"></a>
							</div>
							<div class="col-md-4" style="text-align: center">
								<a id="set-500" href="#"><img src="{{ asset("bundles/coretemplate/assets/img/500.jpg")}}" style="width: 100px; height: 100px;"></a>
							</div>
							<div class="col-md-4" style="text-align: center">
								<a id="set-1000" href="#"><img src="{{ asset("bundles/coretemplate/assets/img/1000-ast.png")}}" style="width: 100px; height: 100px;"></a>
							</div>	
						</div>
						<br>
						{{ form.group_textnew('Amount to be reloaded', 'reload', "", 5, 4, {'readonly': true}) }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" name="submit" value="park" id="park_btn_submit" class="btn btn-primary">Pay with paypal</button>
				<button type="button" data-dismiss="modal" class="btn default">Cancel</button>
			</div>
			</form>
		</div>
	</div>
</div>

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	$("#set-100").click(function(){
		$("#cform-reload_amount").val(99);
		$("#cform-reload").val(100);
	});

	$("#set-500").click(function(){
		$("#cform-reload_amount").val(489);
		$("#cform-reload").val(500);
	});

	$("#set-1000").click(function(){
		$("#cform-reload_amount").val(969);
		$("#cform-reload").val(1000);
	});
});
</script>
{% endblock %}